*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}
.row{
    background-color: rgb(147, 147, 147);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: auto;
    height: 37.5rem;
}
img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -26px -19px 30px -19px rgba(7, 7, 7, 0.95);
    
}

.btn1{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgb(0, 234, 255);
    
}
.btn1:hover{
    background-color: rgb(11, 181, 196);
}
/*.fa-facebook{
    padding: 10px;
    font-size: 30px;
}

.fa-instagram{
    padding: 10px;
    font-size: 30px;
}
.fa-github{
    padding: 10px;
    font-size: 30px;
}
.fa-linkedin{
    padding: 10px;
    font-size: 30px;
}*/

.fa{
    padding: 10px;
    font-size: 30px;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram:hover{
    color: rgb(247, 0, 255);
}
.fa-github:hover{
    color: rgb(0, 0, 0);
}
.fa-linkedin:hover{
    color: rgb(78, 131, 255);
}